body {
  font-family: "Montserrat";
}
#title {
  background-color: #ff4c68;
  color: #fff;
}

h1 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-weight: bold;
  font-size: 3.1rem;
  line-height: 1.5;
  padding: 0 7%;
}

h3 {
  font-weight: bold;
}

p {
  color: #8f8f8f;
}
.container-fluid {
  padding: 3% 15%;
}

/* Navigation-bar */

.navbar {
  padding-bottom: 4rem;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding-left: 18px;
  padding-right: 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* buttons */

.Download-button {
  margin: 5% 4% 5% 0;
}

/* image-title */

.image-title {
  width: 16%;
  transform: rotate(25deg);
  position: absolute;
  right: 23%;
}

/* Features Section */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  /* z-index: 1; */
}

.feature-box {
  text-align: center;
  padding: 3.5%;
}

.icon {
  color: #ef8172;
  margin: 4.5%;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials {
  /* padding: 7% 15%; */
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.test-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Pricing Section */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

.button1 {
  margin-top: 8.8%;
}

/* MEDIA  */

@media (max-width: 1199px) {
  #title {
    text-align: center;
  }
  .image-title {
    position: static;
    transform: rotate(0);
    width: 50%;
    margin: 4%;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .image-title {
    width: 23%;
    right: 18%;
  }

  .button1 {
    margin-top: 14%;
  }

  .feature-box {
    text-align: center;
    padding: 3.5%;
  }
}

/* CTA Section */

#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.head-cta {
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer Section */

#footer {
  padding: 7% 15%;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
  width: 100px;
}
